[{:comp/name "Can add vectors"
  :comp/version "v1"
  :comp/status :active
  :comp/tags [#db/id[:db.part/user -1] #db/id[:db.part/user -2]]}
 {:comp/name "Can draw circles"
  :comp/version "v1"
  :comp/status :active}
 {:db/id #db/id[:db.part/user -1]
  :comp-tag/name "VLACS HS Diploma"
  :comp-tag/version "v1"
  :comp-tag/type "program-of-study"
  :comp-tag/status :active}
 {:db/id #db/id[:db.part/user -2]
  :comp-tag/name "Mathematics"
  :comp-tag/version "v1"
  :comp-tag/type "area-of-study"
  :comp-tag/status :active}]
